.DS_Store
*.tar.gz
*.tar
~$*
*.pptx
*.ppt
*.docx
*.doc
*.zip
*.csv
hadoop-root/dfs
hadoop-root/mapred
hadoop-root/yarn
hadoop-root/logs
hadoop-root/tmp
hadoop-root/hadoop
hadoop-root/hadoop-logs
hadoop-root/hadoop-tmp
hadoop-3.3.4/

target/
u.*

.vscode/
